{{define "title"}}
Atridad Lahiji // [SOMEPAGE]
{{end}}

{{define "headercontent"}}
Atridad Lahiji // [SOMEPAGE]
{{end}}

{{define "head"}}
<link rel="stylesheet" href="/public/css/styles.css" />
{{end}}

{{define "main"}}
<h1 class="text-4xl font-extrabold text-white sm:text-8xl">
  New <span class="bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent">Page</span>
</h1>
{{end}}

{{define "foot"}}
<script src="/public/js/htmx.base.js"></script>
<script src="/public/js/htmx.sse.js"></script>
<script src="/public/js/hyperscript.js"></script>
{{end}}