{{define "title"}}
Atridad Lahiji // Root
{{end}}

{{define "headercontent"}}
Atridad Lahiji // Root
{{end}}

{{define "head"}}
<link rel="stylesheet" href="/public/css/styles.css" />
{{end}}

{{define "main"}}
<h1 class="text-4xl font-extrabold text-white sm:text-8xl">
  Hi, I&apos;m <span
    class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500">Atridad</span>
</h1>

<h2 class="text-2xl font-extrabold tracking-tight text-white sm:text-[2rem]">
  I&apos;m a full stack developer who builds cool things for the web.
</h2>

<span>
  <h2 class="mb-2 text-xl text-white sm:text-[1.5rem]">Places I exist:</h2>
  <div class="flex flex-row flex-wrap items-center justify-center gap-4 text-center">
    {{range .Socials}}
    {{template "iconlinks" .}}
    {{end}}
  </div>
</span>

<span>
  <h2 class="mb-2 text-xl text-white sm:text-[1.5rem]">Stuff I Use:</h2>

  <div class="flex flex-row flex-wrap items-center justify-center gap-4 text-center">
    {{range .Tech}}
    {{template "iconlinks" .}}
    {{end}}
  </div>
</span>

<div class="flex flex-row flex-wrap gap-2 mx-auto justify-center">
  {{range .ButtonsLinks}}
  {{template "buttonlinks" .}}
  {{end}}
</div>
{{end}}

{{define "foot"}}
<script src="/public/js/htmx.base.js"></script>
<script src="/public/js/htmx.sse.js"></script>
<script src="/public/js/hyperscript.js"></script>
{{end}}