{{define "title"}}
Atridad Lahiji // Testimonials
{{end}}

{{define "headercontent"}}
Atridad Lahiji // Testimonials
{{end}}

{{define "head"}}
<link rel="stylesheet" href="/public/css/styles.testimonials.css" />
{{end}}

{{define "main"}}
<h2 class="text-2xl font-extrabold tracking-tight text-white sm:text-[2rem]">
  What <a class="link link-secondary"
    href="https://steamcommunity.com/app/1230140/reviews/?browsefilter=toprated&snr=1_5_100010_" target="_blank"
    rel="noreferrer">People</a> Say About Me
</h2>

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
  {{range .Images}}
  <div>
    <img class="object-cover object-center w-full max-w-full rounded-lg" src={{.}} alt="Review of Atri"
      loading="lazy" />
  </div>
  {{end}}
</div>

{{end}}

{{define "foot"}}
{{end}}