@import url('daisyui.css') layer(base);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  container,
  body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: fixed;
  }
}
