{{define "post"}}
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/public/favicon.ico" />
    <title>{{.Name}}</title>
    <meta name="description" content="Just here for the vibes...">
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>

  <body class="block h-[100%]">
    {{template "header" .}}

    <main class="prose prose-invert mx-auto p-4">
      <article>
        <h1 class="title">{{.Name}}</h1>
        <div class="flex flex-row flex-wrap gap-4">
          {{if .Date}}
            <p>
              <div class="flex flex-row flex-wrap items-center gap-1 text-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock-4"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
                {{.Date}}
              </div>
            </p> 
          {{end}}
          
          {{if .Tags}}
            <div class="flex flex-row flex-wrap text-center items-center justify-center gap-1">
              {{range .Tags}}
                <div class="badge badge-accent">#{{.}}</div>
              {{end}}
            </div>
          {{end}}
        </div>
        <hr />
        {{template "main" .}}

      </article>
    </main>
  </body>
</html>
{{end}}