{{define "header"}}
<header class="navbar bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-lg sm:text-xl text-white" href="/">{{template "headercontent".}}</a>
    </div>
    <div class="navbar-end z-50">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-sm btn-ghost text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content gap-2 mt-3 p-2 shadow bg-base-100 rounded-box"
        >
          {{template "navitems" .}}
        </ul>
      </div>
    </div>
  </header>
{{end}}
