{{define "navitems"}}
<li>
    <a class="no-underline" href="/">
        Home
    </a>
</li>
<li>
    <a class="no-underline" href="/projects">
        Projects
    </a>
</li>
<li>
    <a class="no-underline" href="/talks">
        Talks
    </a>
</li>
<li>
    <a class="no-underline" href="/testimonials">
        Testimonials
    </a>
</li>
<li>
    <a class="no-underline" href="/tools">
        Tools
    </a>
</li>
<li>
    <a class="no-underline" href="/blog">
        Blog
    </a>
</li>
{{end}}